.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.Gmail,
.Photo,
.google-app,
.profile-picture {
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal
}

body {
    font-family: arial, sans-serif;
}

.profile-picture {
    border-radius: 50%;
    height: 45px;
}

.middle {
    display: flex;
    margin-top: 180px;
    justify-content: center
}

.search-engine-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-direction: row;
}

.searchengine {
    width: 38%;
    height: 40px;
    cursor: text;
    line-height: 40px;
    font-size: 13px;
    padding-left: 15px;
    background-color: white;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    outline: none;
}

.button {
    margin: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchengine:hover {
    box-shadow: 1px 1px 1px 1px #20212447;
    border-color: #dfe1e500;
}

.search-button-icon, .felling-button-icon{
    height: 40px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: none;
    border-top-width: 0px
}

